@model  GovHistoryRepository.Identity.ApplicationRole
@{
    ViewBag.Title = "Role: " + Html.DisplayFor(model => model.RoleDescription);
}

@{if (Model != null)
    {
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>@ViewBag.Title</h2>
            </div>
        </md-toolbar>
        <div ng-controller="RoleController">
            <md-content id="GeneralController" layout-gt-sm="row" layout-padding>
                <div layout-gt-xs="row">
                    <md-input-container>
                        <label>@Html.LabelFor(model => model.Name)</label>
                        @Html.DisplayFor(model => model.Name, new { style = "width:350px" })
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container>
                        <label>@Html.LabelFor(model => model.RoleDescription)</label>
                        @Html.DisplayFor(model => model.RoleDescription, new { style = "width:90%" })
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container>
                        <label>
                            @Html.LabelFor(model => model.IsSysAdmin, "System Role")
                        </label>
                        @Html.DisplayFor(model => model.IsSysAdmin)
                    </md-input-container>
                    <md-input-container>
                        <md-button class="md-icon-button" onclick="location.href='@Url.Action("RoleEdit", "Admin", new { id = Model.Id })'" aria-label="Modifica">
                            <md-tooltip>modifica dettagli</md-tooltip>
                            <md-icon md-svg-icon="../Content/images/svg/ic_mode_edit_black_24px.svg"></md-icon>
                        </md-button>
                    </md-input-container>
                </div>
            </md-content>
            <md-content id="Permissions" layout-gt-sm="row" layout-padding>
                <md-toolbar class="md-warn">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Permessi associati con il ruolo</h2>
                    </div>
                </md-toolbar>
                <div id="PermissionsTable">
                    @*@Html.Partial("_ListPermissions", Model)*@
                </div>
            </md-content>
        </div>

    }
}
